.work--lockup .controls {
  /*재생버튼*/
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}
.work--lockup .controls:hover {
  /*이미지에 커서 올렸을 때*/
  display: inline-flex;
  opacity: 1;
}
.work--lockup .controls i {
  /*아이콘 크기 수정할 때*/
  transform: scale(2);
}

.work--lockup .hidden {
  display: none;
}
.work--lockup .hidden:hover {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
